<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', { title: 'Profile'}) %>
<body>


  <%- include('../partials/nav') %>

  <div class="jumbotron profile-jumbotron">
    <div class="container">
      <h1 class="display-1 text-white">My Profile</h1>
    </div>
  </div>

  <div class="container w-75 show-container mt-5 mb-5">
    <div class="row h-100">
      <div class="col pb-5" style="background-color: var(--darkteal);">
        <h2 class="text-white mt-3 align-self-center display-3" style="margin-left: -.35em;"><%= user.username %></h2>
        <img class="rounded-circle mt-3" src="<%= user.profilePic %>" width="100" />
      </div>
      <div class="col pl-4 border border-dark">
        <div class="mb-3 mt-1">
          <h2 class="mt-3 align-self-center" style="color: var(--darkteal);">City</h2>
          <h4><%= user.city %></h4>
        </div>
        <div class="mb-3 mt-1">
          <h2 class="mt-3 align-self-center" style="color: var(--darkteal);">Bio</h2>
          <p><%= user.bio %></p>
        </div>
        <div class="d-flex justify-content-end">
          <a href="/profile/edit#edit-form">
            <button class="btn text-white" style="background-color: var(--darkteal);">Edit Profile</button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <% if (user.songs.length === 0) { %>
    <div id="index-container" class="container mt-5 mb-5 w-75">
      <h3>Looks like you don't have any music - <span style="background-color: var(--mutegold); padding: 10px;"><a style="color: white;" href="/search">go add some!</a></span></h3>
    </div>
  <% } else { %>
  <div id="index-container" class="container show-container mt-5 mb-5">
    <div class="row h-100">
      <div class="col pb-5" style="background-color: var(--brightred); padding-left: 0px !important; z-index: 2;">
        <a href="/profile/genres">
          <h3 class="text-white mt-3 display-1" >Genres</h3>
          <hr>
        </a>
        <% for (let i = 0; i < (user.genres.length > 5 ? 5 : user.genres.length); i++) { %>
          <div class="card" style="max-width: 300px; background-color: transparent; border: 0px;">
            <div class="row no-gutters">
              <div class="col-md-2">
                <a href="/profile/genres/<%= user.genres[i]._id %>">
                  <img class="card-img rounded-circle border border-white" src="<%= user.genres[i].genrePicture %>" alt="<%= user.genres[i].name %>" width="50">
                </a>
              </div>
              <div class="col-md-8">
                <a href="/profile/genres/<%= user.genres[i]._id %>">
                  <h3 class="card-text text-white mt-2 ml-1"><%= user.genres[i].name %></h3>
                </a>
              </div>
            </div>
          </div>
        <%  } %>
        <% if (user.genres.length > 5 ) { %>
          <div class="d-flex justify-content-end mt-5">
            <a href="/profile/genres">
              <button class="btn text-white" style="background-color: var(--darkteal);">See More</button>
            </a>
          </div>
        <% } %>
      </div>
      <div class="col pb-5" style="background-color: var(--mutegold); padding-left: 0px !important; z-index: 1;">
        <a href="/profile/artists">
        <h3 class="text-white mt-3 display-1">Artists</h3>
        <hr>
         </a>
        <% for (let i = 0; i < (user.artists.length > 5 ? 5 : user.artists.length); i++) {   %>
          <div class="card" style="max-width: 300px; background-color: transparent; border: 0px;">
            <div class="row no-gutters">
              <div class="col-md-2">
                <a href="/profile/artists/<%= user.artists[i]._id %>">
                  <img class="card-img rounded-circle border border-white" src="<%= user.artists[i].artistPicture %>" alt="<%= user.artists[i].name %>" width="50">
                </a>
              </div>
              <div class="col-md-8">
                <a href="/profile/artists/<%= user.artists[i]._id %>">
                  <h3 class="card-text text-white mt-2 ml-1"><%= user.artists[i].name %></h3>
                </a>
              </div>
            </div>
          </div>
        <%  } %>
        <% if (user.artists.length > 5 ) { %>
          <div class="d-flex justify-content-end mt-5">
            <a href="/profile/artists">
              <button class="btn text-white" style="background-color: var(--darkteal);">See More</button>
            </a>
          </div>
        <% } %>
      </div>
      <div class="col pb-5" style="background-color: var(--darkteal);  padding-left: 0px !important;">
        <a href="/profile/songs">
          <h3 class="text-white mt-3 display-1">Songs</h3>
          <hr>
        </a>
        <% for (let i = 0; i < (user.songs.length > 5 ? 5 : user.songs.length); i++) {  %>
          <div class="card" style="max-width: 300px; background-color: transparent; border: 0px;">
            <div class="row no-gutters">
              <div class="col-md-2">
                <a href="/profile/songs/<%= user.songs[i]._id %>">
                  <img class="card-img rounded-circle border border-white" src="<%= user.songs[i].artistPicture %>" alt="<%= user.songs[i].title %>" width="50">
                </a>
              </div>
              <div class="col-md-7">
                <a href="/profile/songs/<%= user.songs[i]._id %>">
                  <h6 class="card-text text-white mt-3 ml-1"><%= user.songs[i].title %></h6>
                </a>
              </div>
              <div class="col-md-3 mt-2 w-25">
                <form action="/profile/<%= user.songs[i].id %>?_method=DELETE" method="POST">
                  <input class="w-100 h-50" style="background-color: var(--mutegold); color: white; border: 0px;" type="submit" value="DELETE">
                </form>
              </div>
            </div>
          </div>
        <% } %>
        <% if (user.songs.length > 5 ) { %>
          <div class="d-flex justify-content-end mt-5">
            <a href="/profile/songs">
              <button class="btn text-white" style="background-color: var(--mutegold);">See More</button>
            </a>
          </div>
        <% } %>
      </div>
    </div>
  </div>

  <div class="container w-75 show-container mt-5 mb-5">
    <div class="row h-100">
      <div class="col pb-5" style="background-color: #579789;">
        <h2 class="text-white mt-3 align-self-center display-3" style="margin-left: -.35em;">Metrics</h2>
        <h4>Artists with the most songs in your collection:</h4>
         <% if (mostPopularArtist == '') { %>
           <p>Looks like you have an even love of all artists!</p>
         <% } else { %>
          <div class="card" style="max-width: 300px; background-color: transparent; border: 0px;">
            <div class="row no-gutters">
              <div class="col-md-2">
                <a href="/profile/artists/<%= mostPopularArtist._id %>">
                  <img class="card-img rounded-circle border border-white" src="<%= mostPopularArtist.artistPicture %>" alt="<%= mostPopularArtist.name %>" width="50">
                </a>
              </div>
              <div class="col-md-8">
                <a href="/profile/artists/<%= mostPopularArtist._id %>">
                  <h3 class="card-text text-white mt-2 ml-1"><%= mostPopularArtist.name %></h3>
                </a>
              </div>
            </div>
          </div>
         <% } %>
          <h4>Genre with the most artists in your collection:</h4>
          <% if (mostPopularGenre == '') { %>
            <p>Looks like you have an even love of all genres!</p>
          <% } else { %>
          <div class="card" style="max-width: 300px; background-color: transparent; border: 0px;">
            <div class="row no-gutters">
              <div class="col-md-2">
                <a href="/profile/genres/<%= mostPopularGenre._id %>">
                  <img class="card-img rounded-circle border border-white" src="<%= mostPopularGenre.genrePicture %>" alt="<%= mostPopularGenre.name %>" width="50">
                </a>
              </div>
              <div class="col-md-8">
                <a href="/profile/genres/<%= mostPopularGenre._id %>">
                  <h3 class="card-text text-white mt-2 ml-1"><%= mostPopularGenre.name %></h3>
                </a>
              </div>
            </div>
          </div>
        <% } %>
      </div>
      <div class="col pl-4 border border-dark">
        <h4 class="mt-5">Songs in your collection you haven't listened to yet</h4>
        <% if (unheardSongs.length) { %>
          <ul style="list-style-type: none;">
            <% unheardSongs.forEach(song => { %>
              <a href="/profile/songs/<%= song._id %>">
                <li><%= song.title %></li>
              </a>
            <% }) %>
          </ul>
        <% } else { %>
          <p>You're all caught up on your collection!</p>
        <% } %>
      </div>
    </div>
  </div>
  <% } %>

</body>
</html>