<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', { title: 'Profile'}) %>
<body>

  <%- include('../partials/nav') %>

  <div class="jumbotron profile-jumbotron">
    <div class="container">
      <h1 class="display-1 text-white">My Profile</h1>
    </div>
  </div>

  <div class="container w-75 show-container mt-5 mb-5">
    <div class="row h-100">
      <div class="col pb-5" style="background-color: #579789;">
        <h2 class="text-white mt-3 align-self-center display-3"><%= user.username %></h2>
        <img class="rounded-circle mt-3" src="<%= user.profilePic %>" width="100" />
      </div>
      <div class="col pl-4 border border-dark">
        <div class="mb-3 mt-1">
          <h2 class="mt-3 align-self-center" style="color: #579789;">City</h2>
          <h4><%= user.city %></h4>
        </div>
        <div class="mb-3 mt-1">
          <h2 class="mt-3 align-self-center" style="color: #579789;">Bio</h2>
          <p><%= user.bio %></p>
        </div>
        <div class="d-flex justify-content-end">
          <a href="/profile/edit#edit-form">
            <button class="btn text-white" style="background-color: #579789;">Edit Profile</button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="index-container" class="container show-container mt5 mb-5">
    <div class="row h-100">
      <div class="col pb-5" style="background-color: var(--brightred); padding-left: 0px !important;">
        <a href="/profile/genres">
          <h3 class="text-white mt-3 display-1" >Genres</h3>
        </a>
        <% genres.forEach(genre => { %>
          <div class="card" style="max-width: 300px; background-color: transparent; border: 0px;">
            <div class="row no-gutters">
              <div class="col-md-2">
                <a href="/profile/genres/<%= genre._id %>">
                  <img class="card-img rounded-circle border border-white" src="<%= genre.genrePicture %>" alt="<%= genre.name %>" width="50">
                </a>
              </div>
              <div class="col-md-8">
                <a href="/profile/genres/<%= genre._id %>">
                  <h3 class="card-text text-white mt-2 ml-1"><%= genre.name %></h3>
                </a>
              </div>
            </div>
          </div>
        <%  }) %>
      </div>
      <div class="col pb-5" style="background-color: var(--purepurple); padding-left: 0px !important;">
        <a href="/profile/artists">
          <h3 class="text-white mt-3 display-1">Artists</h3>
        </a>
        <% artists.forEach(artist => { %>
          <div class="card" style="max-width: 300px; background-color: transparent; border: 0px;">
            <div class="row no-gutters">
              <div class="col-md-2">
                <a href="/profile/artists/<%= artist._id %>">
                  <img class="card-img rounded-circle border border-white" src="<%= artist.artistPicture %>" alt="<%= artist.name %>" width="50">
                </a>
              </div>
              <div class="col-md-8">
                <a href="/profile/artists/<%= artist._id %>">
                  <h3 class="card-text text-white mt-2 ml-1"><%= artist.name %></h3>
                </a>
              </div>
            </div>
          </div>
        <%  }) %>
      </div>
      <div class="col pb-5" style="background-color: var(--deepred);  padding-left: 0px !important;">
        <a href="/profile/Songs">
          <h3 class="text-white mt-3 display-1">Songs</h3>
        </a>
        <% songs.forEach(song => { %>
          <div class="card border border-dark" style="max-width: 350px;">
            <div class="row no-gutters">
              <div class="col-md-2">
                <a href="/profile/songs/<%= song._id %>">
                  <img class="card-img rounded-circle border border-white" src="<%= song.artistPicture %>" alt="<%= song.title %>" width="50">
                </a>
              </div>
              <div class="col-md-6">
                <a href="/profile/songs/<%= song._id %>">
                  <p class="card-text mt-3 ml-2"><%= song.title %></p>
                </a>
              </div>
              <div class="col-md-4 w-100">
                <form action="/profile/<%= song.id %>?_method=DELETE" method="POST">
                  <input class="btn-warning w-100 h-50" style="border-bottom: 1px solid black; border-left: 1px solid black; border-right: 0px; border-top: 0px;" type="submit" value="Delete">
                </form>
              </div>
            </div>
          </div>
        <%  }) %>
      </div>
    </div>
  </div>
</body>
</html>