<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/head.ejs', { title: 'Artist Page'}) %>
<body>

  <%- include('../../partials/nav') %>

  
  <h1><%= artist.name %></h1>
  <img src="<%= artist.artistPicture %>" width="300" />

  <% if (artist.songs.length === 0) { %>
    <p>Sorry, seems like this artist has no songs!</p>
  <% } %>
  <% artist.songs.forEach(song => { %>
    <a href="/profile/songs/<%= song._id %>">
      <h3><%= song.title %><span style="color: red; font-size: .75em;">&nbsp;(<%= genre.name %>)</span></h3>
    </a>
  <%  }) %>
</body>
</html>