<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/head.ejs', { title: 'My Artists'}) %>
<body>

  <%- include('../../partials/nav') %>

  <div class="jumbotron artists-jumbotron">
    <div class="container search-hero">
      <h1 class="display-1 text-white">My Artists</h1>
    </div>
  </div>

  <div class="container mb-5">
    <div class="row justify-content-md-center search-results">   
      <% user.artists.map(artist => { %>
          <div class="card-body result-card rc-small">
              <a href="/profile/artists/<%= artist._id %>">
                <img src="<%= artist.artistPicture %>" alt="<%= artist.name%>" class="card-img-top" width="50">
                <h3 class="card-title ct-small"><%= artist.name %></h3>
              </a>
          </div>
      <% }) %> 
    </div>
  </div>


</body>
</html>