<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Genre Show</title>
</head>
<body>
  <h1>This is the Genre Show page</h1>
  <h2><%= genre.name %></h2>
  <h3>Artists</h3>
  <% genre.artists.forEach(artist => { %>
    <a href="/profile/artists/<%= artist._id %>">
      <p><%= artist.name %></p>
    </a>
  <% }) %>
  <h3>Songs</h3>
  <% genre.songs.forEach(song => { %>
    <a href="/profile/songs/<%= song._id %>">
      <p><%= song.title %></p>
    </a>
  <% }) %>
</body>
</html>