<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/head', { title: 'My Genres'}) %>

<body>

  <%- include('../../partials/nav') %>

  <div class="jumbotron genres-jumbotron">
    <div class="container search-hero">
      <h1 class="display-1 text-white">My Genres</h1>
    </div>
  </div>

<div class="container mb-5">
  <div class="row justify-content-md-center search-results">
    <% user.genres.map(genre => { %>
        <div class="card-body result-card rc-small">
            <img src="<%= genre.genrePicture %>" alt="<%= genre.name%>" class="card-img-top" width="50">
            <a href="/profile/genres/<%= genre._id %>">
              <h3 class="card-title ct-small"><%= genre.name %></h3>
            </a>
        </div>
    <% }) %> 
  </div>
</div>

</body>
</html>