<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/head.ejs', { title: 'My Songs'}) %>
<body>

  <%- include('../../partials/nav') %>

  <h1>Complete Songs</h1>
  <ul>
    <% allSongs.map(song => { %>
      <a href="/profile/songs/<%= song._id %>">
        <img src="<%= song.artistPicture %>" alt="" width="50">
        <li><%= song.title %></li>
      </a>
    <% }) %> 
  </ul>
</body>
</html>