<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/head.ejs', { title: 'My Songs'}) %>
<body>

  <%- include('../../partials/nav') %>

  <div class="jumbotron songs-jumbotron">
    <div class="container search-hero">
      <h1 class="display-1 text-white">My Songs</h1>
    </div>
  </div>

<div class="container mb-5">
  <div class="row justify-content-md-center search-results">
    <% user.songs.map(song => { %>
        <div class="card-body rc-small">
            <img src="<%= song.artistPicture %>" alt="<%= song.title%>" class="card-img-top" width="50">
            <a href="/profile/songs/<%= song._id %>">
              <h3 class="card-title ct-small">"<%= song.title %>"</h3>
            </a>
        </div>
    <% }) %> 
  </div>
</div>


</body>
</html>