<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/head.ejs', { title: 'Song Page'}) %>
<body>

  <%- include('../../partials/nav') %>

  <div class="container show-container mt-5 mb-5">
    <div class="row h-100">
      <div class="col pb-5" style="background-color: lightblue;">
        <a href="/profile/artists/<%= artist._id %>">
          <h3 class="mt-3 align-self-center">
            <%= artist.name %>
          </h3>
        </a>
        <h1 class="text-white">"<%= song.title %>"</h1>
        <a href="/profile/genres/<%= genre._id %>">
          <h5>(<%= genre.name %>)</h5>
        </a>
        <img class="rounded-circle mt-3" src="<%= song.artistPicture %>" width="100" />
        <div class="row container d-block">
          <h3 class="mt-2">Listening links</h3>
          <div class="row container">
            <% const songPercent = song.title.replace(/ /g, '%20') %>
            <% const artistPercent = artist.name.replace(/ /g, '%20') %>
            <% const songPlusses = song.title.replace(/ /g, '+') %>
            <% const artistPlusses = artist.name.replace(/ /g, '+') %>
            <a class="m-2" href="https://open.spotify.com/search/<%= artistPercent %>%20<%= songPercent %>">
              <i style="color: #1DB954;" class="fab fa-spotify fa-2x" aria-hidden="true"></i>
            </a>
            <a class="m-2" href="https://music.apple.com/us/search?term=<%= artistPercent %>%20<%= songPercent %>">
              <i style="color: #EA4CC0" class="fab fa-itunes fa-2x"></i>
            </a>
            <a class="m-2" href="https://www.deezer.com/search/<%= artistPercent %>%20<%= songPercent %>/track">
              <i style="color: #000" class="fab fa-deezer fa-2x"></i>
            </a>
            <a class="m-2" href="https://www.youtube.com/results?search_query=<%= artistPlusses %>%20<%= songPlusses %>/track">
              <i style="color: #FF0000;" class="fab fa-youtube fa-2x"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col pl-4 border border-dark">
        <div class="mb-3 mt-1">
          <h3 class="mt-4 mb-3" style="color: #007bff;">Write something about this song:</h3>
          <% if (song.testimony) { %>
            <p id="song-testimony"><%= song.testimony %></p>
            <button class="testimony-edit btn btn-primary">Edit</button>
            <button class="testimony-edit-submit btn btn-secondary">Submit</button>
          <% } else { %>
            <form action="/profile/songs/<%= song._id %>/edit?_method=PUT" method="POST">
              <textarea name="testimony"></textarea><br>
              <input class="btn btn-primary" type="submit" value="submit">
            </form>
          <% } %>
        </div>
        <div class="mb-3 mt-1">
          <h3 style="color: #007bff;">Have you listened to this track yet? </h3>
          <form action="/profile/songs/<%= song._id %>/edit?_method=PUT" method="POST">
            <input type="checkbox" name="listenedTo" <%- song.listenedTo ? 'checked' : '' %> />
            <label for="listenedTo">Yes</label><br>
            <input class="btn btn-primary" type="submit" value="Change status">
          </form>
        </div>
        <div class="d-flex flex-row-reverse mb-3">
          <form action="/profile/songs/<%= song.id %>?_method=DELETE" method="POST">
            <input class="btn btn-warning" type="submit" value="Delete this song">
          </form>
        </div>
      </div>
    </div>
  </div>
      
  <!-- <h1>"<%= song.title %>"</h1>
  <h2><%= artist.name %><span style="color: red; font-size: .75em;">&nbsp;(<%= genre.name %>)</span></h2>
  <img src="<%= song.albumArt %>" width="300" />
  <h3>Write something about this song:</h3>
  <% if (song.testimony) { %>
    <p id="song-testimony"><%= song.testimony %></p>
    <button class="testimony-edit">Edit</button>
    <button class="testimony-edit-submit">Submit</button>
  <% } else { %>
    <form action="/profile/songs/<%= song._id %>/edit?_method=PUT" method="POST">
      <textarea name="testimony"></textarea><br>
      <input type="submit" value="submit">
    </form>
  <% } %>
  <p>Have you listened to this track yet? </p>
  <form action="/profile/songs/<%= song._id %>/edit?_method=PUT" method="POST">
    <input type="checkbox" name="listenedTo" <%- song.listenedTo ? 'checked' : '' %> />
    <label for="listenedTo">Yes</label><br>
    <input type="submit" value="Change status">
  </form>
<form action="/profile/songs/<%= song.id %>?_method=DELETE" method="POST">
  <input type="submit" value="Delete this song">
</form>  -->
</body>
</html>