<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/head.ejs', { title: 'Song Page'}) %>
<body>

  <%- include('../../partials/nav') %>

  <h1>"<%= song.title %>"</h1>
  <h2><%= artist.name %><span style="color: red; font-size: .75em;">&nbsp;(<%= genre.name %>)</span></h2>
  <img src="<%= song.albumArt %>" width="300" />
  <h3>Write something about this song:</h3>
  <% if (song.testimony) { %>
    <p id="song-testimony"><%= song.testimony %></p>
    <button class="testimony-edit">Edit</button>
    <button class="testimony-edit-submit">Submit</button>
  <% } else { %>
    <form action="/profile/songs/<%= song._id %>/edit?_method=PUT" method="POST">
      <textarea name="testimony"></textarea><br>
      <input type="submit" value="submit">
    </form>
  <% } %>
  <p>Have you listened to this track yet? </p>
  <form action="/profile/songs/<%= song._id %>/edit?_method=PUT" method="POST">
    <input type="checkbox" name="listenedTo" <%- song.listenedTo ? 'checked' : '' %> />
    <label for="listenedTo">Yes</label><br>
    <input type="submit" value="Change status">
  </form>
<form action="/profile/songs/<%= song.id %>?_method=DELETE" method="POST">
  <input type="submit" value="Delete this song">
</form> 
</body>
</html>